.react-datepicker__time-container {
    min-width: 100px !important;
}

.react-datepicker__time-box {
    min-width: 100px !important;
}

.react-datepicker__time-list {
    padding: 0 !important;
}

.rbc-event {
    position: relative !important;
}

.rbc-event-content {
    position: absolute !important;
}

.ui.container {
    width: 99%;
}